{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-jsx", "standard-react"],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "jsx-quotes": [2, "prefer-double"]
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)",
        "**/*.spec.{j,t}s?(x)"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}